.logo-icon5 {
  width: 32px;
  position: relative;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.ant-design-pro5 {
  position: relative;
  line-height: 32px;
}
.logo5,
.menuunfold-icon5 {
  position: absolute;
  cursor: pointer;
}
.logo5 {
  height: 100%;
  width: 49.74%;
  top: 0;
  right: 49.37%;
  bottom: 0;
  left: 0.88%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.menuunfold-icon5 {
  height: 56.25%;
  width: 9.09%;
  top: 21.88%;
  right: 0;
  bottom: 21.88%;
  left: 90.91%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-95 {
  position: absolute;
  top: 0;
  left: 0;
  width: 430px;
  height: 64px;
}
.title29 {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.notice-message8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl) 0 0;
  font-size: var(--h5-regular-size);
}
.description-text8 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.wrapper-icon17 {
  width: 14px;
  position: relative;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.icon-wrapper17 {
  background-color: var(--hitbox);
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.confirm8 {
  position: relative;
  line-height: 22px;
}
.button19,
.content20,
.footer8 {
  display: flex;
  justify-content: center;
}
.button19 {
  border-radius: var(--br-11xs);
  background-color: var(--primary-6);
  box-shadow: var(--drop-shadow-button-primary);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-5xs);
  gap: var(--gap-3xs);
}
.content20,
.footer8 {
  flex-direction: column;
}
.footer8 {
  align-self: stretch;
  align-items: flex-end;
  padding: var(--padding-5xs) 0 0;
  text-align: center;
  color: var(--neutral-1);
}
.content20 {
  flex: 1;
  align-items: center;
  padding: 0;
  gap: var(--gap-5xs);
}
.close-icon8 {
  width: 14px;
  position: relative;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
}
.close8 {
  width: 0;
  height: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.notification10,
.notification11,
.notification8,
.notification9 {
  position: absolute;
  top: 1826px;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--neutral-1);
  box-shadow: var(--drop-shadow-0120805);
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.notification10,
.notification11,
.notification9 {
  top: 2562px;
}
.notification10,
.notification11 {
  top: 2329px;
}
.notification11 {
  top: 2078px;
}
.progress-bg6 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: -800px;
  border-radius: var(--br-81xl);
  background-color: var(--primary-6);
  width: 800px;
}
.progress-inner6 {
  width: 50px;
  position: relative;
  border-radius: var(--br-40xl);
  height: 8px;
}
.progress-scrubberbasic6 {
  flex: 1;
  border-radius: var(--br-81xl);
  background-color: var(--neutral-3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 179.5px;
}
.div29 {
  width: 28px;
  position: relative;
  line-height: 22px;
  display: inline-block;
  height: 22px;
  flex-shrink: 0;
}
.progress-linestatus-normal6 {
  position: absolute;
  top: 76px;
  left: 33px;
  width: 352px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.your-text-is {
  position: absolute;
  top: 26px;
  left: 73px;
  font-size: var(--h4-medium-size);
  line-height: 28px;
  font-weight: 500;
  color: var(--neutral-13);
}
.enter-your-text2 {
  position: absolute;
  top: 151px;
  left: 47px;
  font-size: var(--h5-regular-size);
  line-height: 24px;
  color: var(--neutral-10);
  display: inline-block;
  width: 313px;
}
.progress-linestatus-normal-parent {
  position: absolute;
  top: 516px;
  left: 0;
  background-color: var(--neutral-1);
  border: 1px solid var(--neutral-5);
  box-sizing: border-box;
  width: 400px;
  height: 474px;
  overflow: hidden;
}
.autosize-height-based3 {
  margin: 0;
}
.bottom-icon2,
.placeholder3 {
  align-self: stretch;
  position: relative;
}
.placeholder3 {
  line-height: 24px;
}
.bottom-icon2 {
  max-width: 100%;
  overflow: hidden;
  height: 0;
  flex-shrink: 0;
  object-fit: cover;
}
.label10,
.textarea3 {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.textarea3 {
  top: 82px;
  left: 0;
  border-radius: var(--br-11xs);
  background-color: var(--neutral-1);
  border: 1px solid var(--primary-6);
  box-sizing: border-box;
  width: 400px;
  height: 295px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  font-size: var(--h5-regular-size);
  color: var(--character-disabled-placeholder-25);
}
.label10 {
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-11xs);
}
.label-wrapper2 {
  width: 0;
  position: relative;
  height: 0;
}
.box6,
.halo6 {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 var(--br-11xs) var(--br-11xs) 0;
}
.halo6 {
  background-color: var(--primary-6);
  opacity: 0.2;
  z-index: 0;
}
.box6 {
  background-color: var(--neutral-1);
  border: 1px solid var(--neutral-5);
  box-sizing: border-box;
  z-index: 1;
}
.title34 {
  position: relative;
  line-height: 24px;
  z-index: 2;
}
.div31,
.wrapper10 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.wrapper10 {
  align-items: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  position: relative;
  gap: var(--gap-9xs);
}
.div31 {
  border-radius: 0 var(--br-11xs) var(--br-11xs) 0;
  background-color: var(--neutral-1);
  border: 1px solid var(--neutral-5);
  overflow: hidden;
  align-items: center;
  transform: rotate(180deg);
}
.halo7 {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--primary-6);
  opacity: 0.2;
  z-index: 0;
}
.box7,
.div32 {
  background-color: var(--neutral-1);
  border: 1px solid var(--neutral-5);
}
.box7 {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 1;
}
.div32 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  transform: rotate(180deg);
  margin-left: -1px;
  width: max-content;
}
.title37 {
  position: relative;
  line-height: 24px;
}
.div34,
.radio-group2,
.wrapper9 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.div34 {
  border-radius: var(--br-11xs) 0 0 var(--br-11xs);
  background-color: var(--neutral-1);
  border: 1px solid var(--primary-6);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-base);
  transform: rotate(180deg);
  margin-left: -1px;
  color: var(--primary-6);
}
.radio-group2,
.wrapper9 {
  align-items: flex-start;
}
.wrapper9 {
  transform: rotate(180deg);
  z-index: 0;
}
.radio-group2 {
  text-align: left;
  font-size: var(--h5-regular-size);
}
.button23,
.button24,
.form-itemradio-button2 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-itemradio-button2 {
  top: 0;
  left: 0;
  width: 322px;
  flex-direction: column;
  padding: 0 0 var(--padding-5xl);
  box-sizing: border-box;
  text-align: right;
  align-items: flex-start;
}
.button23,
.button24 {
  top: 423px;
  border-radius: var(--br-11xs);
  overflow: hidden;
  flex-direction: row;
  gap: var(--gap-5xs);
  text-align: center;
}
.button23 {
  left: 297px;
  background-color: var(--primary-6);
  box-shadow: var(--drop-shadow-button-primary);
  border: 1px solid var(--primary-6);
  padding: var(--padding-9xs) var(--padding-mini);
  color: var(--neutral-1);
}
.button24 {
  left: 0;
  background-color: var(--neutral-1);
  box-shadow: var(--drop-shadow-button-secondary);
  border: 1px solid var(--neutral-5);
  padding: var(--padding-8xs) var(--padding-base);
}
.enter-your-text3 {
  position: absolute;
  top: 1142px;
  left: 0;
  font-size: var(--h5-regular-size);
  line-height: 24px;
  color: var(--neutral-10);
  display: inline-block;
  width: 400px;
}
.button25 {
  position: absolute;
  top: 1084px;
  left: 84px;
  border-radius: var(--br-11xs);
  background-color: var(--primary-6);
  box-shadow: var(--drop-shadow-button-primary);
  border: 1px solid var(--primary-6);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-mini);
  gap: var(--gap-5xs);
  text-align: center;
  color: var(--neutral-1);
}
.our-state-of-the-art-ai2 {
  position: absolute;
  top: 1500px;
  left: 0;
  font-size: var(--h5-regular-size);
  line-height: 24px;
  color: var(--neutral-13);
  display: inline-block;
  width: 400px;
}
.button26,
.button27 {
  position: absolute;
  border-radius: var(--br-11xs);
  background-color: var(--primary-6);
  box-shadow: var(--drop-shadow-button-primary);
  border: 1px solid var(--primary-6);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-mini);
  gap: var(--gap-5xs);
  text-align: center;
  color: var(--neutral-1);
}
.button26 {
  top: 1433px;
  left: 0;
  box-sizing: border-box;
  width: 400px;
}
.button27 {
  top: 1751px;
  left: 184px;
}
.notification-container {
  position: absolute;
  top: 109px;
  left: 15px;
  width: 400px;
  height: 771px;
  overflow-y: auto;
  font-size: var(--body-regular-size);
}
.home-checker {
  width: 100%;
  position: relative;
  background-color: var(--neutral-1);
  height: 932px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--character-title-85);
  font-family: var(--body-regular);
}
