.logo-icon2 {
  width: 32px;
  position: relative;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.ant-design-pro2 {
  position: relative;
  line-height: 32px;
}
.logo2,
.menuunfold-icon2 {
  position: absolute;
  cursor: pointer;
}
.logo2 {
  height: 100%;
  width: 49.74%;
  top: 0;
  right: 49.37%;
  bottom: 0;
  left: 0.88%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.menuunfold-icon2 {
  height: 56.25%;
  width: 9.09%;
  top: 21.88%;
  right: 0;
  bottom: 21.88%;
  left: 90.91%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-92 {
  position: absolute;
  top: 0;
  left: 0;
  width: 430px;
  height: 64px;
}
.consent,
.privacy-policy-for {
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.privacy-policy-for {
  width: 260px;
  font-size: var(--h3-medium-size);
  line-height: 32px;
  height: 65px;
}
.consent {
  width: 252px;
  line-height: 28px;
  height: 60px;
}
.the-ai-checker {
  font-size: var(--h5-regular-size);
  line-height: 24px;
  height: 197px;
}
.terms-of-use,
.the-ai-checker,
.the-ai-checker1 {
  width: 400px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.terms-of-use {
  line-height: 28px;
  font-weight: 500;
  height: 60px;
}
.the-ai-checker1 {
  font-size: var(--h5-regular-size);
  line-height: 24px;
  height: 291px;
}
.subject-to-these {
  margin: 0;
}
.subject-to-these-container1 {
  width: 100%;
}
.subject-to-these-container {
  width: 400px;
  font-size: var(--h5-regular-size);
  line-height: 24px;
  height: 576px;
}
.subject-to-these-container,
.third-party-links,
.you-agree-that-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.you-agree-that-container {
  width: 400px;
  font-size: var(--h5-regular-size);
  line-height: 24px;
  height: 307px;
}
.third-party-links {
  width: 303px;
  line-height: 28px;
  font-weight: 500;
  height: 60px;
}
.the-site-may {
  width: 400px;
  font-size: var(--h5-regular-size);
  line-height: 24px;
  height: 393px;
}
.each-site-user,
.other-users,
.the-site-may {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.other-users {
  width: 193px;
  line-height: 28px;
  font-weight: 500;
  height: 60px;
}
.each-site-user {
  width: 400px;
  font-size: var(--h5-regular-size);
  line-height: 24px;
  height: 255px;
}
.privacy-policy-for-ai-checker-parent {
  position: absolute;
  top: 97px;
  left: 15px;
  height: 762px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  font-size: var(--h4-medium-size);
  color: var(--neutral-13);
}
.mobile-farivacy-policy {
  width: 100%;
  position: relative;
  background-color: var(--neutral-1);
  height: 932px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--character-title-85);
  font-family: var(--body-regular);
}
